langchain
chainlit
langchain-chroma
langchain_openrouter
langchain_openai
bs4
langchain-community
langchain-experimental
pypdf
docx2txt
markdown
tiktoken
nltk
pymupdf
unstructured
arxiv
wikipedia
scikit-learn
youtube-transcript-api
